/* Headers */
.header {

	border: 1px solid grey; 
	padding: 10px 24px; 
	height: 10%;
	width: auto;

}

.cabecera {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width:2500px; /*Ancho*/
	height:420px; /*Alto*/

}

/* Fondo de página */
body {

	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(228, 231, 228);

}

/*Errores*/
.error {

	border-style: solid;
	border-color: red;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;

}

/* Formularios */
h2 {

    text-align: center;

}

.desconexion {

    text-align: center;

}

#tabla_menu {

    text-align: center;
    margin-left: 46%;

}

.formulario {

    width: 40%;
    margin-left: 30%;
      
}

.submit {

    text-align: center;
    
}

div {

    margin: .4em 0;

}

form input {

	padding: .2em;

}

input:focus {

	border: 2px solid #000;
	background: #F3F3F3;

}

fieldset {

  	margin-bottom: 10px;

}

legend {

	text-align: center;

}

/* Pie de página */
.pie {
 
	padding: 10px 24px; 
	background-color: rgb(213, 224, 213);
	height: auto;
	width: auto;

}

.icon {

	padding: 1px;
	width: 25px;

}

/* Menú de navegación */
.navegacion {

	background-color: rgb(213, 224, 213); 
	padding: 10px 24px; 
	height: auto;
	width: auto;

}

.button {

	background-color: #FFFAFA;
	border: #DCDCDC;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: grab;

}
