/* Headers */

	/*TO-DO*/

/* Pie de página */

	/*TO-DO*/

/* Formularios */

	/*TO-DO*/

/* Menú de navegación */
.navegacion {

	background-color: rgb(213, 224, 213); 
	border: 1px solid grey; 
	padding: 10px 24px; 

}

.button {

	background-color: #FFFAFA;
	border: #DCDCDC;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: grab;

  }

/* Cuadro de error */

	/*TO-DO*/

/* Confirmación */

	/*TO-DO*/


/* Calendario */
.mifecha2 {

	border:1px solid #ff7800; 
	background-color:#fff; 
	padding:3px 0px 5px 6px; 
	text-align:center; 
	font-family:verdana, arial; 
	font-size:10pt; 
	overflow:hidden; 
	width:206px;

}

.mifecha2 .mesano {
	
	width:100%; 
	padding:3px 3px 5px; 
	font-weight: bold; 
	clear:both; 
	color:#4ba3d8;

} 

.mifecha2 .dia, .mifecha2 .diaactual { 

	width:20px; 
	padding:3px; 
	margin:3px 3px 0 0; 
	background-color:#ffe3c1; 
	float:left; 
	text-shadow:none; 
	font-size:11px;

} 

.mifecha2 .diaactual { 
	
	background-color: #ff7800; 
	font-weight: bold; 
	color:#fff;

}
